.navButtonContainer {
  composes: navButtonContainer from "./DesktopNavButton.module.css";
}

.navText {
  composes: navText from "./DesktopNavButton.module.css";
}

.linksContainer {
  position: absolute;
  /* will be flex when hovered/focused */
  display: none;
  flex-direction: column;
  background-color: #353535;
  max-width: 250px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.navButtonContainer:hover .linksContainer,
.navButtonContainer:focus-within .linksContainer {
  display: flex;
}

.link {
  display: flex;
  flex: 1;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.link:focus,
.link:hover {
  color: #d1a04f;
}

/* CSS modules don't let us use a normal li selector */
.li {
  list-style: none;
}
