.navButtonContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 170px;
  background-color: #353535;
  margin-left: 4px;
  margin-right: 4px;
  padding-right: 4px;
}

.navText {
  color: #ffffff;
  margin: 0;
  font-size: 12px;
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  font-weight: bold;
  padding-left: 20px;
  text-decoration: none;
}

.navButtonContainer:hover .navText,
.navButtonContainer:focus-within .navText {
  color: #d1a04f;
}
